body{
    background: #1F2937;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
}

nav{
    padding: 16px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 32px 124px;
}

a{
    text-decoration: none;
    color: white;
    font-weight: 500;
}
ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 32px;
}
.logo{
    font-size: 24px;
    font-weight: 600;
    color: white;
}

.banner{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 48px 0px;
    display: flex;
    gap: 64px;
    padding: 64px 124px 124px 124px;
}
.button,
.secondary-button
{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    padding: 8px 16px;
    border-radius: 8px;
    width: 80px;
    text-align: center;
}
.secondary-button{
    color: white;
    background-color: rgb(63, 63, 233);
    border: 2px solid #ffffff;
}
.button {
    color: white;
    background-color: rgb(63, 63, 233);
}

.text1 {
    color: rgb(213, 218, 222);
    font-weight: 400;
    font-size: 20px;
    width: 500px;
    padding: 16px 0px;
}
.banner-left{
   flex: 1;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
}
h1{
    font-size: 56px;
}
.banner-right{
    flex: 1;
    padding: 32px;
    color: #1F2937;
    background-color: grey;
    height: 248px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 32px 32px 48px 32px;
}
.carousel{
    display: flex;
    flex-direction: row;
    gap: 32px;
    justify-content: space-around;
    align-items: center;
}
.card{
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 200px;
    gap: 8px;
}
.rectangle{
    width: 200px;
    height: 200px;
    border: 6px solid #04335a;
   border-radius: 8px;
}
.card-description{
 width: 200px;
 color: #1F2937;
 font-size: 16px;
 text-align: center;
}

h2{
 color: #1F2937;
 font-weight: 600;
 font-size: 32px;
}

.quote-text{
    font-size: 32px;
    font-weight: 200;
    font-style: italic;
    color: rgb(44, 44, 44);
    text-align: left;
}

.author{
 font-size: 24px;
 font-weight: 700;
 color: rgb(44, 44, 44);
 text-align: right;
 padding: 0px 48px
}

.quote{
    padding: 124px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 32px;
    width: 1024px;
    
}
.quote-section{
    display: flex;
    justify-content: space-around;
    background-color: rgb(161, 161, 161);
}
.cta-card{
    background-color: rgb(63, 63, 233);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1024px ;
    padding: 32px 64px;
    border-radius: 8px;
}
h6{
    font-size: 20px;
    color: white;
    font-weight: 600;
    margin: 0px;
}
.cta-text{
    font-size: 16px;
    color: white;
    font-weight: 400;
    line-height: 24px;
}
.cta-left{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.cta-section{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 64px;
}